p {
    color:red;
    font-family: sans-serif;
    font-size: 0.9em;
    text-align: center;
    background-color: gray;
}


.article{
    background-color:blue;
    padding: 100px;
    margin: 10px; 
}
